<!doctype html>
<html lang="en" ng-app="RDash">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

	<title>Agency Connect</title>
  <!-- STYLES -->
  <!-- build:css lib/css/main.min.css -->
  <link rel="stylesheet" type="text/css" href="components/bootstrap/dist/css/bootstrap.min.css">
  <link rel="stylesheet" type="text/css" href="components/font-awesome/css/font-awesome.min.css">
  <link rel="stylesheet" type="text/css" href="components/rdash-ui/dist/css/rdash.min.css">
  <link rel="stylesheet" type="text/css" href="components/sweetalert2/dist/sweetalert2.min.css">
  <link rel="stylesheet" type="text/css" href="style.css">
  <!-- endbuild -->
</head>
<body ng-controller="MasterCtrl">
  <div id="page-wrapper" ng-class="{'open': toggle}" ng-cloak>

    <!-- Sidebar -->
    <div id="sidebar-wrapper" class="no-display">
      <ul class="sidebar">
        <li class="sidebar-main">
          <a ng-click="toggleSidebar()">
            AgencyConnect
            <span class="menu-icon glyphicon glyphicon-transfer"></span>
          </a>
        </li>
        <li class="sidebar-title"><span>NAVIGATION</span></li>
        <li class="sidebar-list">
          <a href="#/dashboard" data-ng-click="selectedOption = options[4]">Dashboard <span class="menu-icon fa fa-tachometer"></span></a>
        </li>
        <li class="sidebar-list">
          <a href="#/tables" data-ng-click="selectedOption = options[5]">Tables <span class="menu-icon fa fa-table"></span></a>
        </li>
        <li class="active sidebar-list">
          <a href="#/billingInquiries" data-ng-click="selectedOption = options[0];">Billing Inquiries <span class="menu-icon fa fa-question"></span></a>
        </li>
        <li class="sidebar-list">
          <a href="#/endorsements" data-ng-click="selectedOption = options[1]">Endorsements <span class="menu-icon fa fa-thumbs-up"></span></a>
        </li>
        <li class="sidebar-list">
          <a href="#/lossRuns" data-ng-click="selectedOption = options[2]">Loss Runs <span class="menu-icon fa fa-money"></span></a>
        </li>
        <li class="sidebar-list">
          <a href="#/eDocs" data-ng-click="selectedOption = options[3]">EDocs <span class="menu-icon fa fa-newspaper-o"></span></a>
        </li>
      </ul>
      <div class="sidebar-footer">
        <div class="col-xs-4">
          <a href="https://github.com/kjan95129" target="_blank">
            Github
          </a>
        </div>
        <div class="col-xs-4">
          <a href="#" target="_blank">
            About
          </a>
        </div>
        <div class="col-xs-4">
          <a href="#">
            Support
          </a>
        </div>
      </div>
    </div>
    <!-- End Sidebar -->

    <div id="content-wrapper">
      <div class="page-content">

        <!-- Header Bar -->
        <div class="row header no-display" id="header-bar">
          <div class="col-xs-12">
            <div class="user pull-right">
              <div class="item dropdown" uib-dropdown>
                <a href="#" class="dropdown-toggle" uib-dropdown-toggle>
                  <img src="img/avatar.jpg">
                </a>
                <ul class="dropdown-menu dropdown-menu-right">
                  <li class="dropdown-header">
                    ID is: {{user[0].name}} <br>
                    Content is: {{user[0].email}}
                  </li>
                  <li class="divider"></li>
                  <li class="link">
                    <a href="#/dashboard">
                      Profile
                    </a>
                  </li>
                  <li class="link">
                    <a href="#/dashboard">
                      First Item
                    </a>
                  </li>
                  <li class="link">
                    <a href="#/dashboard">
                      Second Item
                    </a>
                  </li>
                  <li class="divider"></li>
                  <li class="link">
                    <a href="#/login" ng-click="logout()">
                      Logout
                    </a>
                  </li>
                </ul>
              </div>
              <div class="item dropdown" uib-dropdown>
               <a href="#/dashboard" class="dropdown-toggle" uib-dropdown-toggle>
                  <i class="fa fa-bell-o"></i>
                </a>
                <ul class="dropdown-menu dropdown-menu-right">
                  <li class="dropdown-header">
                    Notifications
                  </li>
                  <li class="divider"></li>
                  <li>
                    <a href="#/dashboard">Here's a notification</a>
                  </li>
                </ul>
              </div>
            </div>
            <div class="meta">
              <div class="page">
                {{selectedOption.type}}
              </div>
              <div class="breadcrumb-links">
                Home / {{selectedOption.type}}
              </div>
            </div>
          </div>
        </div>
        <!-- End Header Bar -->

        <!-- Main Content -->
        <div ui-view></div>

      </div><!-- End Page Content -->
    </div><!-- End Content Wrapper -->
  </div><!-- End Page Wrapper -->
</body>

<!-- SCRIPTS -->
  <!-- build:js lib/js/main.min.js -->
  <script type="text/javascript" src="components/angular/angular.min.js"></script>
  <script type="text/javascript" src="components/angular-bootstrap/ui-bootstrap-tpls.min.js"></script>
  <script type="text/javascript" src="components/angular-cookies/angular-cookies.min.js"></script>
  <script type="text/javascript" src="components/angular-ui-router/release/angular-ui-router.min.js"></script>
  <script type="text/javascript" src="components/sweetalert2/dist/sweetalert2.min.js"></script>
  <!-- endbuild -->
  <!-- Custom Scripts -->
  <script type="text/javascript" src="js/dashboard.min.js"></script>
  
</html>
